/* Font family inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-button-prev {
  margin-left: 20px;
  color: #ca334f;
}

.swiper-button-next {
  margin-right: 20px;
  color: #ca334f;
}
.swiper-pagination-bullet {
  color: red;
}
.headroom--pinned {
  background-color: white;
  box-shadow: 1px 1px 8px 0 #e4e4e4;
}
@media screen and (min-width: 0) {
  .swiper-button-prev {
    margin-left: 10px;
  }

  .swiper-button-next {
    margin-right: 10px;
  }
  .swiper-button-prev::after {
    font-size: 20px;
  }
  .swiper-button-next::after {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .swiper-button-prev::after {
    font-size: 30px;
  }
  .swiper-button-next::after {
    font-size: 30px;
  }
}
